
<% @grocery_lists.each do |i| %>
    <h5><%= i.created_at %></h5>
    <p><%= i.content %></p>
<% end %>

<form class="" action="/logout" method="post">
    <input type="submit" value="Logout">
</form>
<form class="" action="/grocery_lists/new" method="get">
    <input type="submit" value="Create List">
</form>
