<h2>Create List: </h2>

<form class="" action="/grocery_lists" method="post">
  <label for="name">Content:</label>
  <input type="text" name="content">
  <input type="submit" name="" value="Create New List">
</form>
