<h2><%= @user.name %>'s Grocery Lists</h2>
<h5> <ul> 
<% @user.grocery_lists.each do |grocery| %>


<li><%= grocery.content %></li> 
<a href="/grocery_lists/<%= grocery.id %>/edit">Edit List</a> 

<form class= "" action="/grocery_lists/<%= grocery.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete"> </form> 
<%end%> </ul>
<br><br><br>
<form class="" action="/logout" method="post">
    <input type="submit" value="Logout">
</form>

<form class="" action="/grocery_lists" method="get">
    <input type="submit" value="View All">
</form>

<form class="" action="/grocery_lists/new" method="get">
    <input type="submit" value="Create List">
</form>
